<div class="row footer">
  <div class="column">
    <%= if @current_username do %>
        Welcome <%= @current_username %>
        <%= button "Manage Speakers", to: speaker_path(@conn, :index), method: :get %>
        <%= button "Logout", to: auth_path(@conn, :delete), method: :delete %>
    <% else %>
        <%= button "Login", to: auth_path(@conn, :request, :github), method: :get %>
    <% end %>
  </div>

  <div class="column">
    &copy; 2018 Columbus Elixir.
  </div>
</div>
