@import "config";
@import "components";

body {
    font-size: 16px;
    line-height: 1.5em;
    color: $black;
    background: $white url('/images/pw_maze_white.png');
}

.main-content {
    background: $off-white;
    padding: $spacing;
    padding-top: $spacing-double;
}

.content {
    padding: $spacing-double;
    padding-top: $spacing-sixth;
    background: $white url("/images/pw_maze_white.png");
}

h1.title {
    font-size: 3em;
    line-height: 1em;
    text-align: center;
}