.button_1 {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: $purple;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button_1:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}