ul.list {
    li {
        list-style: none;
        margin-bottom: $spacing-double;

        .details {
            display: inline-block;
            vertical-align: top;
            padding-left: $spacing-half;

            .name {
                font-weight: bold;
                font-size: 1.1em;
            }

            .talk-name {
                font-style: italic;
            }
        }
    }
}