<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Columbus Elixir!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
     <div class="container">
      <header class="header">
          <img class="logo" src="/images/cbus_elixir_logo.png">
          <ul id="links">
            <li>
              <a href="https://twitter.com/columbuselixir" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://twitter.com/columbuselixir" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://twitter.com/columbuselixir" target="_blank">Linkedin</a>
            </li>
          </ul>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <div class="row">
        <div class="col-md-4">
          <h3>Where we meet</h3>
          <address>
            1234 Main St<br>
            Columbus, OH 43202<br>
          </address>
        </div>
        <div class="col-md-4">
          <h3>Past Meetups</h3>
          <ul>
            <li>Blah</li>
            <li>Blah</li>
            <li>Blah</li>
          </ul>
        </div>
        <div class="col-md-4">
          <img src="https://www.fillmurray.com/400/360">
        </div>
      </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
